
\.ipynb_checkpoints/

*.dbf

*.shx

*.shp

*.prj

*.TIF

data-tif/

data-shp/

*.gz

src/cloud-mask/\.jupyter/

src/cloud-mask/outfile\.jpg

src/cloud-mask/data/

*.xml

src/landsat_8_object/__pycache__/

src/landsat_8_object/test/

src/cloud-mask/data-out/

*.jpg

src/data/tmp_LC08_L1TP_221067_20170910_20170927_01_T1/

src/data/tmp_LC08_L1TP_221067_20170926_20171013_01_T1/
